@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.faq {
  &__item {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  details {
    overflow: hidden;
    border-radius: (var(--radius-main));
    background-color: var(--color-yellow-400);

    &[open] {
      summary {
        &::after {
          transform: scaleY(-1);
        }
      }
    }
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    font-weight: var(--fw-600);
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    cursor: pointer;
    gap: 16px;

    &::after {
      @include mask;

      position: relative;
      display: block;
      mask-image: url("../images/icons/chevron-down.svg");
      min-width: 32px;
      min-height: 32px;
      background-color: var(--color-dark-900);
      transition: transform 0.3s linear;
    }

    + div {
      padding: 10px 24px 16px 24px;
    }
  }

  h2 {
    margin-bottom: 2.4rem;
  }
}
