/* stylelint-disable declaration-no-important */
@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

*[class].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: calc(var(--radius-big) * 1.56);
  padding: 18px 23px;
  width: 100%;
  max-width: fit-content;
  height: max-content;
  font-weight: var(--fw-500);
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-yellow-400);
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    border-color: var(--color-yellow-400);
    color: var(--color-yellow-400);
    background-color: var(--color-white);
  }

  &.formsapp-button {
    font-family: var(--font-family-primary);
    margin: 0;
    background-color: var(--color-blue-800) !important;

    &:hover,
    &:focus {
      border-color: var(--color-blue-800) !important;
      color: var(--color-blue-800) !important;
      background-color: var(--color-pink-100) !important;
    }
  }

  &--reverse {
    border-color: var(--color-blue-800);
    color: var(--color-blue-800);
    background-color: var(--color-pink-100);

    &:hover,
    &:focus {
      color: var(--color-pink-100);
      background-color: var(--color-blue-800);
    }
  }

  &--sing,
  &--request {
    border-radius: calc(var(--radius-main) * 4);
    padding: 10px 16px;
    color: var(--color-yellow-900);
    background-color: var(--color-white);
    border-color: var(--color-yellow-900);
  }

  &--request {
    color: var(--color-white);
    background-color: var(--color-yellow-900);
    border-color: transparent;
  }

  &--big {
    max-width: 173px;
    margin: 0 auto;
  }

  //   &--slider {
  //   position: relative;
  //   z-index: 2;
  //   padding: 0;
  //   border: 0;
  //   border-radius: 50%;
  //   border-color: transparent;
  //   background-color: transparent;
  //   color: var(--color-white);
  //   height: 32px;
  //   max-width: 32px;

  //   &::before {
  //     @include mask;
  //     width: 32px;
  //     height: 32px;
  //     mask-image: url("../images/icons/arrow.svg");
  //     mask-position: 0 0;
  //     background-color: var(--color-dark-900);
  //   }

  //   &:hover,
  //   &:focus {
  //     border-color: transparent;
  //     &::before {
  //       background-color: var(--color-blue-800);
  //     }
  //   }
  // }
}
