@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.footer {
  // background-color: var(--color-yellow-50);

  &__top {
    background-color: var(--color-yellow-50);
    padding: rem(56) 0;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;

    @include media(mobile-m) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__copyright {
      font-size: 16px;
      line-height: 1.18;
      opacity: 1;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(31);

      @include media(mobile-l) {
        margin-right: 16px;
      }

      @include media(mobile-m) {
        margin: 0;
      }
    }
  }

  &__link {
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-blue-800);
    }
  }
}
