@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  position: relative;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    background: var(--gradient-white);
    inset: 0;

    @include media(tablet) {
      background-color: var(--color-white);
      width: 100%;
      opacity: 0.8;
    }
  }

  &__inner {
    // padding-top: rem(113);
    // padding-bottom: rem(108);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 646px;
    z-index: 1;

    @include media(tablet) {
      min-height: 380px;
      background-size: cover;
      justify-content: center;
    }
  }

  &__content {
     translate: 0 13px;
    width: 100%;
    max-width: 595px;
  }

  h1 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 34px;

    @include media(tablet) {
      max-width: 100%;
    }
  }

  .btn {
    padding: 18px 24px;
    border-radius: 50px;
    background-color: var(--color-white);
    color: var(--color-black);
  }

  // @include media(mobile-m) {
  //   .btn {
  //     max-width: none;
  //   }

  //   br {
  //     display: none;
  //   }
  // }

  &--about,
  &--services,
  &--gallery,
  &--menu {
    &::before {
      background: var(--gradient-second);
      width: 43%;
      opacity: 0.79;

      @include media(tablet) {
        width: 100%;
      }
    }

    #{$root}__inner {
      padding: clamp(20px, vw(94), 94px) 0;
    }

    p {
      margin: 0;
    }
  }

  &--services,
  &--menu {
    #{$root}__inner {
      padding: 0;
      justify-content: center;
    }
  }

  &--menu {
    margin-bottom: clamp(32px, vw(48), 48px);
  }

  &--gallery {
    #{$root}__inner {
      justify-content: center;
      padding: 0;
    }
  }

  @include media(tablet) {
    br {
      display: none;
    }
  }
}
