@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  position: relative;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    background: var(--gradient-white);
    inset: 0;

    @include media(tablet) {
      background-color: var(--color-white);
      width: 100%;
      opacity: 0.8;
    }
  }

  &__inner {
    // padding-top: rem(113);
    // padding-bottom: rem(108);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 646px;
    z-index: 1;

    @include media(tablet) {
      min-height: 380px;
      background-size: cover;
      justify-content: center;
    }
  }

  &__content {
    translate: 0 13px;
    width: 100%;
    max-width: 595px;

    @include media(tablet) {
      translate: none;
      max-width: 100%;
    }
  }

  h1 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 34px;
  }

  .btn {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  @include media(tablet) {
    br {
      display: none;
    }
  }
}
